@import "../../scss/index.scss";

.header {
    @include flex-between;

    height: 30px;

    padding: $vertical-padding $horizontal-padding + 10;

    background: $tertiary-color;

    border: 1px solid $border-color;
    @include box-shadow(1) 
    
    .icon {
        display: flex;
        align-items: center;
        width: $icon-size;

    }

    h3 {
        font-size: 15px;
        margin: 0 8px;

    }

    &-meta {
        @include flex-center;
    }

    &-tools {
    }
}
